<ul>
  <%@adresses.each {|adress| %>
    <li><%= adress[:matched_address] %>

      <%= link_to 'Vai', {:action => "evalTrip" , :original => @original ,:lat =>  adress[:lat]  , :lng =>  adress[:lng]} , :class => "button-refresh"%>

    </li>

<% } %>
</ul>
